html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  width: 900px;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2 + .user_review {
  border-top: 1px solid black;
}

/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}

nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 20px;
  display: inherit;
}

img[alt = 'App Academy Logo'] {
  display: inline-block;
}

nav {
  display: inline-block;
}

main {
  width: 700px;
}

aside {
  width: 180px;
  display: inline-block;
  /*float: left;*/
  margin-right: 15px;
}

section {
  display: inline-block;
  width: 450px;
  vertical-align: top;
}

.container {
  display: inline-block;
}

.ingredients-list > li, ol > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

label[for = 'expertise'],  label[for = 'rating']{
  display:none
}

#reviews {
  display: block;
  width: 900px
}

input {
  display: inline-block;
}

select {
  margin: 10px;
  width: 150px;
}

textarea {
  width: 350px;
}

input[type = 'text'] {
  width: 150px;
}
